<!DOCTYPE html>
<html>

<head>
    {{.Head}}
    <title>Create new page - mdwiki</title>
</head>

<body class="markdown-body">
{{.Menu}}
<div class="wrap container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Create new page</h1>
            <form>
                <div id="validation" class="hidden warning-box"></div>
                <label for="filename">Filename (with or without extension)</label><br>
                <input id="filename" type="text" name="filename"/>
                <button id="save" type="submit">Create</button>
            </form>
            <script type="text/javascript">
                ui.dom.onLoad(function () {
                    ui.dom.el("#filename").focus()
                    ui.dom.onClick("#save", function (e) {
                        e.preventDefault();
                        ui.api.post("/api/page.create", {
                            filename: ui.dom.el("#filename").value,
                        })
                            .then(data => {
                                ui.dom.hide("#validation")
                                window.location.replace(data.redirect)
                            })
                            .catch(error => {
                                ui.dom.content("#validation", `⚠️${error}`)
                                ui.dom.show("#validation")
                            });
                    })
                });
            </script>
            {{.Footer}}
        </div>
    </div>
</div>
</body>

</html>