<!DOCTYPE html>
<html>

<head>
    {{.Head}}
    <title>Edit {{.Data.Filename}} - mdwiki</title>
</head>

<body class="markdown-body">
{{.Menu}}
<div class="wrap container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Edit {{.Data.Filename}}</h1>
            <form>
                <div id="validation" class="hidden warning-box"></div>
                <div id="editor" class="editor">{{.Data.RawContent}}</div>
                <input id="filename" type="text" name="filename" value="{{.Data.Filename}}"/><br/>
                <br/>
                <button id="save" type="submit">Save</button>
                <a href="/{{.Data.Filename}}">Cancel</a>
            </form>
            <script type="module">
                import {CodeJar} from '/static/codejar.js'

                ui.dom.onLoad(function () {
                    const editor = ui.dom.el('#editor')
                    const jar = CodeJar(editor, (editor) => {
                        const code = editor.textContent
                        editor.innerHTML = code
                    })
                    editor.focus()
                    ui.dom.onClick("#save", function (e) {
                        e.preventDefault();
                        ui.api.post("/api/page.update/{{.Data.Filename}}", {
                            filename: ui.dom.el("#filename").value,
                            content: jar.toString()
                        })
                            .then(data => {
                                ui.dom.hide("#validation")
                                ui.browser.redirect(data.redirect)
                            })
                            .catch(error => {
                                ui.dom.content("#validation", `⚠️${error}`)
                                ui.dom.show("#validation")
                            });
                    })
                });
            </script>
            {{.Footer}}
        </div>
    </div>
</div>
</body>

</html>