<div class="wrap container">
    <div class="row">
        <div class="col-xs-7">
            <a href="/">Home</a> |
            <a href="/edit/{{.Filename}}">Edit</a> |
            <a href="/{{.Filename}}/version">Versions</a> |
            <a href="#" id="action-delete">Delete</a> |
            <a href="/create">Create new</a> |
            <a href="/list">List of all pages</a> |
            <a href="/trash">Trash</a>
        </div>
        <div class="col-xs-5">
            <div class="fr">
                <form action="/search" method="GET">
                    <input type="text" name="query" />
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hr/>
        </div>
    </div>

    <div class="modal" id="modal-delete">
        <h2>Delete {{.Filename}}?</h2>
        <p>
            This will move <i>{{.Filename}}</i> to the Trash.
        </p>
        <button id="action-do-delete">Yes, delete</button>
        <a href="#" id="action-cancel">No, cancel</a>
    </div>
    <script type="text/javascript">
        ui.dom.onLoad(function() {
            ui.dom.onClick("#action-delete", function(e) {
                e.preventDefault()
                ui.dom.show("#modal-delete")
            })
            ui.dom.onClick("#action-do-delete", function(e) {
                e.preventDefault()
                ui.api.post("/api/page.delete", { filename: "{{.Filename}}"})
                .then(data => ui.browser.redirect(data.redirect))
            })
            ui.dom.onClick("#action-cancel", function(e) {
                e.preventDefault()
                ui.dom.hide("#modal-delete")
            })
        })
    </script>
</div>