<div class="wrap container">
    <div class="row">
        <div class="col-xs-6">
            <a href="/">Home</a> |
            <a href="/edit/{{.Filename}}">Edit</a> |
            <a href="/delete/{{.Filename}}">Delete</a> |
            <a href="/create">Create new</a> |
            <a href="/list">List of all pages</a> |
            <a href="/trash">Trash</a>
        </div>
        <div class="col-xs-6">
            <div class="fr">
                <form action="/search" method="GET">
                    <input type="text" name="query" />
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hr/>
        </div>
    </div>
</div>