<div class="wrap container">
    <div class="row">
        <div class="col-xs-6">
            <a href="/">Home</a> | <a href="/create">Create new</a> | <a href="/list">List
            of
            all pages</a>
        </div>
        <div class="col-xs-6">
            <div class="fr">
                <form><input type="text" name="search_query">
                    <button>Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hr/>
        </div>
    </div>
</div>