<!DOCTYPE html>
<html>

<head>
    {{.Head}}
    <title>{{.Data.Filename}} - mdwiki</title>
</head>

<body class="markdown-body">
{{.Menu}}
<div class="wrap container">
    <div class="row">
        <div class="col-xs-12">
            <div class="version-wrap">
                <button id="action-restore" class="mb-1">Restore version</button>
                {{.Data.Content}}
            </div>
            <script type="text/javascript">
                ui.dom.onLoad(function () {
                    ui.dom.onClick("#action-restore", function (e) {
                        e.preventDefault()
                        ui.api
                            .post("/api/version.restore", {filename: "{{.Data.Filename}}"})
                            .then(data => ui.browser.redirect(data.redirect))
                    })
                })
            </script>

            {{.Footer}}
        </div>
    </div>
</div>
</body>

</html>