<!DOCTYPE html>
<html>

<head>
    {{.Head}}
    <title>Search - mdwiki</title>
</head>

<body class="markdown-body">
{{.Menu}}
<div class="wrap container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Search</h1>
            <form class="mb-1" action="/search" method="GET">
                <input type="text" name="query" value="{{.Data.Query}}"/>
                <button type="submit">Search</button>
            </form>

            <h2>Filenames</h2>
            {{ if eq (len .Data.Filenames) 0 }}
            <p><i>No matching results found</i></p>
            {{ end }}
            {{range .Data.Filenames}}
            <p>
                <a href="/{{.Filename}}">{{.Preview}}</a> <small>score: {{.Score}}</small>
            </p>
            {{end}}

            <h2>Page content</h2>
            {{ if eq (len .Data.PageContent) 0 }}
            <p><i>No matching results found</i></p>
            {{ end }}
            {{range .Data.PageContent}}
            <p>
                <a href="/{{.Filename}}">{{.Filename}}</a> {{.ModTime}} <small>score: {{.Score}}</small>
            </p>
            <pre class="mb-1"><code>{{.Preview}}</code></pre>
            {{end}}
            {{.Footer}}
        </div>
    </div>
</div>
</body>

</html>