<!DOCTYPE html>
<html>

<head>
    {{.Head}}
    <title>Trash - mdwiki</title>
</head>

<body class="markdown-body">
{{.Menu}}
<div class="wrap container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Trash</h1>

            {{ if eq (len .Data.Pages) 0 }}
            <p><i>Trash is empty</i> 🗑️</p>
            {{ end }}

            {{ if gt (len .Data.Pages) 0 }}
            <p>
                <button id="empty-trash">Empty trash</button>
                <i>This will delete all pages forever without any confirmation. Be careful!</i> 😱
            </p>
            <ul>
                {{range .Data.Pages}}
                <li><a href="/trash/{{.Filename}}">{{.Filename}}</a> {{.ModTime}}</li>
                {{end}}
            </ul>
            <script type="text/javascript">
                ui.dom.onLoad(function () {
                    ui.dom.onClick("#empty-trash", function (e) {
                        e.preventDefault()
                        ui.api.post("/api/trash.empty", {}).then(data => ui.browser.redirect(data.redirect))
                    })
                })
            </script>
            {{ end }}

            {{.Footer}}
        </div>
    </div>
</div>
</body>

</html>