<!DOCTYPE html>
<html>

<head>
    {{.Head}}
    <title>{{.Data.Page.Filename}} versions - mdwiki</title>
</head>

<body class="markdown-body">
{{.Menu}}
<div class="wrap container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ .Data.Page.Filename }} versions</h1>
            <ul>
                <li><a href="/{{.Data.Page.Filename}}">{{.Data.Page.Filename}}</a> Current version</li>
                {{range .Data.Pages}}
                <li><a href="/{{$.Data.Page.Filename}}/version/{{.Filename}}">{{.Filename}}</a> {{.ModTime}}</li>
                {{end}}
            </ul>

            {{.Footer}}
        </div>
    </div>
</div>
</body>

</html>