<!DOCTYPE html>
<html>

<head>
    {{.Head}}
    <title>Edit {{.Data.Filename}} - mdwiki</title>
</head>

<body>
    <div class="markdown-body">
        <a href="/">Home</a> | <a href="/list">List of all pages</a>
        <hr />
        <h1>Edit {{.Data.Filename}}</h1>
        <form action="/edit/{{.Data.Filename}}" method="POST">            
            <textarea name="content" cols="120" rows="50">{{.Data.RawContent}}</textarea><br />            
            <input type="submit" value="Save" /> <a href="/{{.Data.Filename}}">Cancel</a>
        </form>
        {{.Footer}}
    </div>
</body>

</html>